.artigo{
    width: 80%;
    background-color: rgba(200, 200, 200);
    margin:40px auto;
    text-align: center;
}
.artigo h1{
    color:#069;
    font-size: 23px;
    font-family:Georgia, "Times New Roman", Times, serif ;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 10px;
}
.artigo p{
    color:#7c7878;
    text-align: left;
    font-size: 17px;
    font-family:'tahoma';
    font-style: normal;
    font-weight: bold;
    
}